.smile1 {
	width: 250px;
	height: 250px;

}

.smile2 {
	width: 250px;
	height: 250px;

}

.smile3 {
	width: 250px;
	height: 250px;

}

.bussgeld{
	width: 350px;
	height: 500px;
	margin-top: 90px;
	margin-left: 30px;
}

.berechnung {
	width: 650px;
	height: 200px;
	margin-top: 260px;

}

.tatvorwurf{
	width: 400px;
	height: 500px;
	margin-top: 120px;
	margin-left: 30px;
}

.berechnung2 {
	margin-top: 300px;
	margin-left: 0px;
	width: 650px;
}