.navbar-default {
    background-color: #180721 !important;
    border-color: #e7e7e700 !important;
  }
.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #2A2929 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  background-color: #3b2b38;
    border-color: transparent;
    color: #fff !important;
}
