*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Verdana, sans-serif;
}

body{
	background-color: white;
	width: 1920px;
	margin: 25px auto;
	margin-top: 0px;
}

header{
	height: 100px;
	background-color: black;
}

header h1 {
	color: white;
	padding-left: 130px;
	padding-top: 40px;
	font-variant: small-caps;
}
div{
	height: 1080px;
	border: black 1px solid;
}


.links h1{
	margin-left: 120px;
	margin-top: 120px; 
	font-size: 30pt;
	font-variant: small-caps;
}

.links p{
	width: 300px;
	text-align: left;
	line-height: 25px;
	padding-left: 100px;
	padding-top: 30px;
	font-size: 20pt;
}

.rechts h1{
	margin-left: 1400px;
	padding-top: 120px; 
	font-size: 30pt;
	font-variant: small-caps;
}

.rechts p{
	width: 300px;
	text-align: right;
	line-height: 25px;
	margin-left: 1400px;
	padding-top: 30px;
	font-size: 20pt;
}

#aufgabe {
	background-image: url(images/verlauf1.jpg) ;
	<!--
	background-color: #666666;
	-->
}
	


#anforderung {
	background-image: url(images/verlauf2.jpg) ;
	<!--
	background-color: #666666;
	-->
}

	

#verlauf {

	background-image: url(images/verlauf3.jpg) ;
	<!--
	background-color: #666666;
	-->
}
	
#ausblick {
	background-image: url(images/verlauf4.jpg) ;
	<!--
	background-color: #666666;
	-->
}


#ausblick h1{
	color: white;
}

#ausblick p{
	color: white;
}
	


#fazit {
	background-image: url(images/verlauf5.jpg) ;
	<!--
	background-color: #666666;
	-->
}
	

#anlagen {
	background-image: url(images/verlauf6.jpg) ;
	<!--
	background-color: #666666;
	-->
}


#anlagen a{
		text-decoration: none;
		color: black;

	

	
