*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Verdana, sans-serif;
}

body{
	background-color: white;
	width: 100%;
	margin: 25px auto;
	margin-top: 0px;
}

header{
	height: 100px;
	background-color: black;
}

header h1 {
	color: white;
	padding-left: 130px;
	padding-top: 40px;
	font-variant: small-caps;
}
<<<<<<< HEAD

=======


.links h1{
	margin-left: 120px;
	margin-top: 10px;
	font-size: 30pt;
	font-variant: small-caps;
}



#aufgabe {
	background-color: #666666;
	display: grid;
	grid-template-columns: auto auto auto;
	height: 1080px;
}

#aufgabe img {
	width: 1000px;
	height: 750px;
	margin-right: 200px;
	margin-top: 100px;
	border: white 4px solid;
	border-radius: 10px;
}




#anforderung {

	<!--
	background-color: #666666;
	-->
	display: grid;
	grid-template-columns: auto auto auto;
	height: 1080px;
}


#verlauf {


	<!--
	background-color: #666666;
	-->
	display: grid;
	grid-template-columns: auto auto auto;
	height: 1080px;
}


#ausblick {

	<!--
	background-color: #666666;
	-->
	display: grid;
	grid-template-columns: auto auto auto;
	height: 1080px;
}

#ausblick h1{
	color: white;
}

#ausblick p{
	color: white;
}


#fazit {

	<!--
	background-color: #666666;
	-->
	display: grid;
	grid-template-columns: auto auto auto;
	height: 1080px;
}


#anlagen {

	<!--
	background-color: #666666;
	-->
	display: grid;
	grid-template-columns: auto auto auto;
	height: 1080px;
}

#anlagen a{
		text-decoration: none;
		color: black;
	}
