*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Verdana, sans-serif;
}

body{
	background-color: white;
	width: 100%;
	margin: 25px auto;
	margin-top: 0px;
}

header{
	height: 100px;
	background-color: black;
}

header h1 {
	color: white;
	padding-left: 130px;
	padding-top: 40px;
	font-variant: small-caps;
}



.links h1{
	margin-left: 120px;
	margin-top: 10px;
	font-size: 30pt;
	font-variant: small-caps;
}

div p{
    color: white;
}

div h2 {
    color: white;
}



#aufgabe {
	background-color: rgb(0,0,0);
	display: grid;
	grid-template-columns: auto auto auto;
	height: 1080px;
    
}

#aufgabe p { 
    margin-top: 51px;
    margin-left: 51px;
}

#aufgabe h2{
    margin-top: 51px;
    margin-left:51px;
    
}





#anforderung {

	background-color: rgb(51,51,51);
	display: grid;
	grid-template-columns: auto auto auto;
	height: 1000px;
}

#anforderung p {
    margin-top: 51px;
    margin-left: 51px;
}

#anforderung h2{
    margin-top: 51px;
    margin-left: 51px;
}


#verlauf {


	background-color: rgb(0,0,0);
	display: grid;
	grid-template-columns: auto auto auto;
	height: 1000px;
}

#verlauf p {
    margin-top: 51px;
    margin-left: 51px;
}

#verlauf h2{
    margin-top: 51px;
    margin-left: 51px;
}


#ausblick {

	background-color: rgb(51,51,51);
	display: grid;
	grid-template-columns: auto auto auto;
	height: 1000px;
}

#ausblick p {
    margin-top: 51px;
    margin-left: 51px;
}

#ausblick h2{
    margin-top: 51px;
    margin-left: 51px;
}




#fazit {

	background-color: rgb(0,0,0);
	display: grid;
	grid-template-columns: auto auto auto;
	height: 1000px;
}

#fazit p {
    margin-top: 51px;
    margin-left: 51px;
}

#fazit h2{
    margin-top: 51px;
    margin-left: 51px;
}


#anlagen {

	background-color: rgb(51,51,51);
	display: grid;
	grid-template-columns: auto auto auto;
	height: 1000px;
}

#anlagen p {
    margin-top: 51px;
    margin-left: 51px;
}

#anlagen h2{
    margin-top: 51px;
    margin-left: 51px;
}
#anlagen a{
		text-decoration: none;
		color: black;
	}
