*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Verdana, sans-serif;
}

body{
	background-color: white;
	width: 100%;
	margin: 25px auto;
	margin-top: 0px;
}

header{
	height: 100px;
	background-color: black;
}

header h1 {
	color: white;
	padding-left: 130px;
	padding-top: 40px;
	font-variant: small-caps;
}
<<<<<<< HEAD

=======


.links h1{
	margin-left: 120px;
	margin-top: 10px;
	font-size: 30pt;
	font-variant: small-caps;
}



#aufgabe {
	background-color: rgb(0,0,0);
	display: grid;

	height: 775px;
}

.carousel-control.left {
	background-image: linear-gradient(to right,rgba(153, 21, 21, 0) 0,rgba(158, 31, 31, 0) 100%) !important;
}

.carousel-control.right {
	background-image: linear-gradient(to right,rgba(153, 21, 21, 0) 0,rgba(158, 31, 31, 0) 100%) !important;
}




#anforderung {

	background-color: rgb(51,51,51);
	display: grid;

	height: 775px;
}


#verlauf {


	background-color: rgb(0,0,0);
	display: grid;

	height: 775px;
}


#ausblick {

	background-color: rgb(51,51,51);
	display: grid;

	hheight: 775px;
}




#fazit {

	background-color: rgb(0,0,0);
	display: grid;

	height: 775px;
}


#anlagen {

	background-color: rgb(51,51,51);
	display: grid;

	height: 775px;
}

#anlagen a{
		text-decoration: none;
		color: black;
	}
