*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Verdana, sans-serif;
}

body{
	background-color: white;
	width: 100%;
	margin: 25px auto;
	margin-top: 0px;
}

header{
	height: 100px;
	background-color: black;
}

header h1 {
	color: white;
	padding-left: 130px;
	padding-top: 40px;
	font-variant: small-caps;
}




div p{
	color: white;
	margin-top: 30px;
	margin-left: 150px;
	
}

div h2{
	color: white;
	margin-top: 200px;
	margin-left: 350px;
	font-variant: small-caps;
}



#aufgabe {
	background-color: rgb(0,0,0);
	display: grid;

	height: 775px;
}

.carousel-control.left {
	background-image: linear-gradient(to right,rgba(153, 21, 21, 0) 0,rgba(158, 31, 31, 0) 100%) !important;
}

.carousel-control.right {
	background-image: linear-gradient(to right,rgba(153, 21, 21, 0) 0,rgba(158, 31, 31, 0) 100%) !important;
}


.carousel {
    position:  inherit;
		margin-top: 300px;
		margin-left:300px
}

#anforderung {

	background-color: rgb(51,51,51);
	display: grid;

	height: 775px;
}


#verlauf {


	background-color: rgb(0,0,0);
	display: grid;

	height: 775px;
}

#verlauf h2 {
	margin-top: 100px;
}

#ausblick {

	background-color: rgb(51,51,51);
	display: grid;

	height: 775px;


#ausblick h2 {
	margin-top: 250px;

}




#fazit {

	background-color: rgb(0,0,0);
	display: grid;

	height: 775px;
}


#anlagen {

	background-color: rgb(51,51,51);
	display: grid;

	height: 775px;
}

#anlagen a{
		text-decoration: none;
		color: black;
	}

.carousel-indicators li {
	    display: inline-block;
	    width: 10px;
	    height: 10px;
	    margin: 1px;
	    text-indent: -999px;
	    cursor: pointer;
	    background-color: #000\9;
	    background-color: rgba(0,0,0,0);
	    border: 1px solid #fff;
	    border-radius: 10px;
	}
	.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}
