/* ----------------------------------------------------------------------------
tesla-mockup-kit.css                                                                  
Styles für die Elementübersicht des Kits
----------------------------------------------------------------------------*/


/* Farbkarte
-----------------------------------------------------------------------------*/

.tsl-bg-blue {
    background-color: var(--tsl-blue);
    color: #fff;
}

.tsl-bg-purple {
    background-color: var(--tsl-purple);
    color: #fff;
}

.tsl-bg-red {
    background-color: var(--tsl-red);
    color: #fff;
}

.tsl-bg-yellow {
    background-color: var(--tsl-yellow);
    color: #fff;
}

.tsl-bg-green {
    background-color: var(--tsl-green);
    color: #fff;
}

.tsl-bg-black {
    background-color: var(--tsl-black);
    color: #fff;
}

.tsl-bg-white {
    background-color: var(--tsl-white);
    color: var(--tsl-dark);
}

.tsl-bg-dark {
    background-color: var(--tsl-dark);
    color: #fff;
}


/* Helper
-----------------------------------------------------------------------------*/

hr {
    border: none;
    border-top: 1px solid var(--secondary);
}

#section2 .tatvorwurf{
 
    margin-bottom: 5%;
    
}

#section2 .tatvorwurfp{
    
    margin-top: 10%;
    font-size: 18px;
    font-weight: 550;
}



#section2 .status{
 
    border-top: solid 1px grey; 
    margin-bottom: 25%;
    
}

#section2 .statusp1{
    
    margin-top: 2%;
    font-size: 15px;
    font-weight: 650;
    float:left;

}
#section2 .statusp2{
    
    margin-top: 2%;
    font-size: 15px;
    font-weight: 650;
    margin-left: 25%;
    width: 20%;
    float:left;
}


#section2 .folgen{
 
    border-top: solid 1px grey; 
    padding-top: 2%;
}

#section2 .folgenh{
    
    width: 30%;
    margin-bottom: 7%;
}


#section2 .folgenp1{
    
   
    font-size: 15px;
    font-weight: 650;
      float:left;

}
#section2 .folgenp2{
    
    
    font-size: 15px;
    font-weight: 650;
    margin-left: 25%;
    width: 20%;
    float:left;
}


#section2 .Smiley{
        display: block;  
        width: 13%;
   
        margin-left:15%;
        float:left;
}



#section1 button{
    margin-left: 25%;
    margin-top: 40px;
}
#section1 p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}
#section1 p span
{
    font-size: 30px;
    color: var(--tsl-white); 
    float: right;
    
}
#section1 h4
{
    font-size: 35px;
    margin-bottom: 25px;
    
}
/*neu*/

#section1 img{
    margin-left: 20px;
    height: 30px;
    width: 50px;
    /*neu*/float: right;
    
}

#section3 .news{
    
    border: solid, 1px grey;
}

#section3 .newsheader{
    
    background-color: var(--tsl-red);
    mar

}

#section3 .newsheaderh{
    
    color:  var(--tsl-white);
    font-size: 18px;

}

#section3 .newslogo{
    
    width: 10%;
  

}

#section3 .newszeile1{
    
    margin-bottom: 18%;

}

#section3 .newszeile1 .newszeile1h{
    
    font-size: 12px;
    float:left;
    margin-bottom: 0%;
}

#section3 .newszeile1 .newszeile1p{
    
    font-size: 16px;
    width: 70%;
    float:left;
}
#section3 .newszeile1 .newszeile1img{
    
     width: 20%;
     float:right;
}

#section3 .newszeile2{
    
     border-top: solid 1px grey; 
     padding-top: 3%; 
     margin-bottom: 18%;
}

#section3 .newszeile2 .newszeile2h{
    
    font-size: 12px;
    float:left;
    margin-bottom: 0%;
}

#section3 .newszeile2 .newszeile2p{
    
    font-size: 16px;
    width: 70%;
    float:left;
}
#section3 .newszeile2 .newszeile2img{
    
    width: 20%;
     float:right;
}

#section3 .newszeile3{
    
     border-top: solid 1px grey; 
     padding-top: 3%; 
     margin-bottom: 18%;
}

#section3 .newszeile3 .newszeile3h{
    
    font-size: 12px;
    float:left;
    margin-bottom: 0%;
}

#section3 .newszeile3 .newszeile3p{
    
    font-size: 16px;
    width: 70%;
    float:left;
}
#section3 .newszeile3 .newszeile3img{
    
    width: 20%;
     float:right;
}



