/* ----------------------------------------------------------------------------
tesla-mockup-kit.css                                                                  
Styles für die Elementübersicht des Kits
----------------------------------------------------------------------------*/


/* Farbkarte
-----------------------------------------------------------------------------*/

.tsl-bg-blue {
    background-color: var(--tsl-blue);
    color: #fff;
}

.tsl-bg-purple {
    background-color: var(--tsl-purple);
    color: #fff;
}

.tsl-bg-red {
    background-color: var(--tsl-red);
    color: #fff;
}

.tsl-bg-yellow {
    background-color: var(--tsl-yellow);
    color: #fff;
}

.tsl-bg-green {
    background-color: var(--tsl-green);
    color: #fff;
}

.tsl-bg-black {
    background-color: var(--tsl-black);
    color: #fff;
}

.tsl-bg-white {
    background-color: var(--tsl-white);
    color: var(--tsl-dark);
}

.tsl-bg-dark {
    background-color: var(--tsl-dark);
    color: #fff;
}


/* Helper
-----------------------------------------------------------------------------*/

hr {
    border: none;
    border-top: 1px solid var(--secondary);
}

.tatvorwurfp{
    
    margin-top: 10%;
    font-size: 18px;
    font-weight: 550;
}

.tatvorwurfp2{
    
    margin-top: 2%;
    font-size: 18px;
    font-weight: 550;
    
}


.folgen{
    
    margin-top: 12%;
    border-top: solid 1px grey; 
}

.folgenh{
    
    margin-top: 3%;
    margin-bottom: 7%;
}


.folgenp1{
    
   
    font-size: 15px;
    font-weight: 650;
      float:left;

}

.folgenp2{
    
    
    font-size: 15px;
    font-weight: 650;
    margin-left: 25%;
    width: 20%;
    float:left;
}


.Smiley{
        display: block;  
        width: 13%;
   
        margin-left:15%;
        float:left;
}

#section1 button{
    margin-left: 25%;
    margin-top: 40px;
}
#section1 p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}
#section1 p span
{
    font-size: 30px;
    color: var(--tsl-white); 
    float: right;
    
}
#section1 h4
{
    font-size: 35px;
    margin-bottom: 25px;
    
}
/*neu*/

#section1 img{
    margin-left: 20px;
    height: 30px;
    width: 50px;
    /*neu*/float: right;
    
}